*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
   
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: blanchedalmond;
}

header{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

ul{
   
   list-style-type: none;
   display: flex;
}

ul li a{
    margin: 0px 5px;
    border: 2px solid black;
    padding: 0px 10px;
    text-decoration: none;
    border-radius: 50px;
}

.logo{
    border: 2px solid white;
  padding: 10px 5px ;
}
#Signup{
    background-color: white;
    color: black;

}
#Signup:hover{
    background-color: black;
    color: white;

}

main{
    display: flex;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 150px;
    flex-wrap: wrap;
}

.contentleft{
    flex: 1;

}
.contentmid{
    flex: 2;
}
.contentright{
    flex: 1;
}
.merc{
    max-width: 500px;
    height: auto;
}
.Btn{
    padding:  15px 30px ;
    background: rgb(173, 173, 55);
    outline:none ;
    border: none;
    color: black;
    font-weight: bolder;
    border-radius: 50px;

    

}
main h2{
    font-size: 70px;
    text-transform: uppercase;
}

main p{
    font-size: 40px;
    font-weight: 200;
    line-height: 31.5px;
    margin: 30px 0px  ;

}
.Btn:hover{
    background-color:rgb(235, 169, 169) ;
    border: 2px solid rgb(18, 13, 13);
}

footer{
    margin: 10px 30px;
    display: flex;
    font-size: 20px;
    
}